    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

    body,
    html {
        box-sizing: border-box;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        width: 100%;
        position: absolute;

    }

    body,
    html {
        position: relative;
        overflow: hidden;
    }

    body::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        /* Garante que o fundo fique atrás do conteúdo */
        background-image: url('photo-1460355976672-71c3f0a4bdac.jpg');
        background-size: cover;
        background-position: center;
        filter: blur(4px);
    }

    .texto1 {
        box-sizing: border-box;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
         border: #ffffffdf solid 0.2vw;;
        width: 16vw;
        height: 13vh;
        background-color: rgba(0, 0, 0, 0.315);
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 2.6vw;
        position: absolute;
        top: 3vh;
        left: 1vw;
        border-radius: 10px;
        color: #fff;

    }

    .texto1 .t1 {
        top: 15vh;
        left: 0;
        visibility: hidden;
        opacity: 0;
        width: 25vw;
        background-color: rgba(0, 0, 0, 0.445);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        transition: visibility 0s, opacity 1s linear;
        font-size: 2vw;
        border-radius: 10px;
        border: #ffffff65 solid 2px;
    }

    .texto1:hover .t1 {
        visibility: visible;
        opacity: 1;
    }

    .texto2 {
        box-sizing: border-box;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
         border: #ffffffdf solid 0.2vw;;
        width: 16vw;
        height: 13vh;
        background-color: rgba(0, 0, 0, 0.315);
        border-radius: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 2.6vw;
        position: absolute;
        top: 3vh;
        right: 1vw;

        color: #fff;
    }

    .texto2 .t2 {

        top: 15vh;
        right: 0;
        visibility: hidden;
        opacity: 0;
        width: 25vw;
        background-color: rgba(0, 0, 0, 0.445);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        transition: visibility 0s, opacity 1s linear;
        border-radius: 10px;
        border: #ffffff65 solid 2px;
    }

    .texto2:hover .t2 {
        visibility: visible;
        opacity: 1;
    }

    .texto3 {
        box-sizing: border-box;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
         border: #ffffffdf solid 0.2vw;;
        width: 16vw;
        height: 13vh;
        background-color: rgba(0, 0, 0, 0.315);
        border-radius: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 2.6vw;
        position: absolute;
        bottom: 3vh;
        left: 1vw;
        color: #fff;
    }

    .texto3 .t3 {
        bottom: 15vh;
        left: 0;
        visibility: hidden;
        opacity: 0;
        width: 25vw;
        background-color: rgba(0, 0, 0, 0.445);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        transition: visibility 0s, opacity 1s linear;
        border-radius: 10px;
        border: #ffffff65 solid 2px;
    }

    .texto3:hover .t3 {
        visibility: visible;
        opacity: 1;
    }

    .texto4 {
        box-sizing: border-box;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
         border: #ffffffdf solid 0.2vw;;
        width: 16vw;
        height: 13vh;
        background-color: rgba(0, 0, 0, 0.315);
        border-radius: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 2.6vw;
        position: absolute;
        bottom: 3vh;
        right: 1vw;
        color: #fff;
    }

    .texto4 .t4 {
        bottom: 15vh;
        right: 0;
        visibility: hidden;
        opacity: 0;
        width: 25vw;
        background-color: rgba(0, 0, 0, 0.445);
        color: #fff;
        text-align: center;
        padding: 5px;
        position: absolute;
        z-index: 1;
        transition: visibility 0s, opacity 1s linear;
        border-radius: 10px;
        border: #ffffff65 solid 2px;
    }

    .texto4:hover .t4 {
        visibility: visible;
        opacity: 1;
    }


    .container {
        width: 27vw;
        height: 80vh;
        background-color: rgb(10, 32, 39);
        border: 5px solid #ffffff;
        border-radius: 20px;
    }

    .imagem {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vw;
        width: 28vw;
        height: 19vh;
    }

    .imagem img {
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        border: 0.3vw solid #fff;
        object-fit: cover;

    }

    #teste {
        color: white;
        font-size: 2vw;
        display: flex;
        justify-content: center;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 880;
        font-style: normal;
    }

    .texto {

        color: #fff;
        font-size: 1.2vw;
        width: 25vw;
        height: 40vh;
        margin-left: 2.4vh;
        line-height: 4.8vh;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;

    }



    @media (max-width: 600px) {}